<form method="post" action="{{ path('delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <button class="btn">Supprimer</button>
</form>
